body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 60px;
  padding: 60px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.detalhe {
  width: 60px;
  height: 4px;
  background: #d81c0b;
  display: inline-block;
  position: absolute;
  margin-top: -15px;

}

.menu a {
  padding: 20px 40px;
  font-size: 20px;
  text-transform: uppercase;
}

.menu a:hover {
  color: rgb(182, 6, 6);
  box-shadow: inset 0px -2px 0px 0px rgb(133, 4, 4);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1000px;
  gap: 5px;
}

.introducao {
  padding: 25px;
  text-align: end;
  position: relative;
  margin-bottom: 25px;
}

.introducao h1 {
  font-size: 36px;
}

.introducao p {
  font-size: 20px;
  padding-bottom: 15px;
}

.botao {
  padding: 15px 30px;
  background: #ee2211;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.botao:hover {
  background: #d81c0b;
}

.img {
  min-width: 300px;
}

@media (width <= 900px) {
  body {
    gap: 30px;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }
  .menu {
    padding: 5px;
    justify-content: center;
  }
  .menu a {
    padding: 15px;
  }
  .subtitulo {
    word-break: break-all;
  }


}

.subtitulo {
  font-size: 64px;
  text-align: end;
  color: #d9d9d9;
  margin-right: 15px;
  text-transform: uppercase;
}

.vantagens {
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
}


.vantagens-item h3 {
  max-height: 8px;
}

.vantagens-item p {
  grid-column: 2;
  
}

.vantagens-item img {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;


}

.vantagens-item:nth-child(2) {
  background: #e2e2e2;

}

.vantagens-item:hover {
  box-shadow: inset 0px 0px 1px 1px #d81c0b;
}

.rodape {
  background-color: #e9e9e9;
  width: 100%;
  text-align: center;
  padding: 40px;
}